* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 13, 13);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: rgb(252, 7, 129);
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  margin-top: -80px;
  margin-bottom: 20px;
}

p {
  line-height: 25px;
}

.container {
  background-color: rgb(29, 26, 26);
  width: 60%;
  padding: 60px 0px 80px 0px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  padding: 60px 40px 30px 40px;
  margin: auto;
}
.under {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: -100px auto;
}

.text {
  color: white;
}
